[submodule "fdf_tester"]
	path = fdf_tester
	url = git@github.com:WSSMRKS/42_fdf_tester.git
	branch = main
[submodule "libft"]
	path = libft
	url = git@github.com:WSSMRKS/42_libft.git
	branch = main
[submodule "mlx_linux"]
	path = mlx_linux
	url = git@github.com:WSSMRKS/mlx_linux.git
	branch = master
